header{height:33px;background:#f1f1f1;}
 .layout{width:1200px;margin:0 auto;height:100%;}
header p{width:150px;margin-left:20px;font:12px/32px "";color:#666;float:left;}
header ul li{float:right;font:12px/33px "";color:#666;}
header ul{float:right;}
header ul li{float:left;font-size:12px;color:#666;width:80px;margin-right: 5px;position:relative;}
header ul li{text-align:center;position:relative;}
header ul li .my{background:#fff;position:absolute;}
header ul li .my{display:none;}
header ul li:hover .my{display:block;} 
header ul li b{position:absolute;right:0;color:#dfdfdf;}
body{background:rgba(235, 236, 240, 0.3);}
.margin{margin:0 auto;width:1200px;}
#log_t{height:120px;width:1200px;overflow:hidden;}
.logo{float:left;}
.log_r{height:93px;width:960px;float:left;}
.log_r_l{margin-top:36px;width:84px;height:49px;float:left;}
.log_r_l a{width:48px;height:19px;display:block;font:700 16px/19px "";color:#333;text-align:center;margin-left:10px;}
.log_r_l a:hover{color:red;}
.log_r_l p{width:63px;height:13px;border:1px solid #666;font-size:12px;padding:2px;text-align:center;margin-top:5px;}
.log_r_l ul{display:none;}
.log_r_c {float:left;margin:46px 0 0 90px;}
.log_r_c .search{width:256px;height:32px;background:none;border:1px solid #ccc;text-indent:30px;float:left;}
.log_r_c .sub{width:80px;height:34px;background:#ccc;border:1px solid #ccc}

/* #goods{background:#ccc;} */
/* #goods .check {width:13px;margin-left:24px;height:13px;border:1px solid red;} */
#goods{font:16px/40px "";color:#666;}
/* #goods .shop_name{height:40px;width:1000px;color:#000;} */
/* #goods .shop_name td {text-align:center;} */
/* #goods thead th{background:#fff;} */
/* tr{border:2px solid black;}
th{border:2px solid black;}
td{border:2px solid black;} */
form{width:1000px;height:300px;margin:0 auto;border:1px solid #ccc;}
form table{width:100%;}
form table tr{width:100%;border-bottom:1px solid #ccc;}
form table tr td{text-align:center;}
form table tr.shop_name{background:#ccc;width:100%;}
form table tr.shop_item td{text-align:center;height:121px;}

.shop_item img{height:75px;width:75px;}
.shop_tit{font:14px/20px;}

.shop_num{overflow:hidden;padding-left:30px}
.shop_num input{float:left;}
.shop_num input.nm{width:50px;height:25px;margin:0 5px;text-align:center;}
.shop_num input.btn{padding:5px;background:#ccc;border:1px solid #333;}

.operation span{display:block;width:64px;text-align:center;font:16px/20px "";color:#666;margin:5px auto;color:#fff;border:1px solid #ccc;border-radius:3px;}
.operation span.del{background:red;}
.operation span.collect{background:gray;}

div.sure{width:100%;height:90px;overflow:hidden;}
.sure div{float:left;}
.clear-l{margin-left:20px;}

.clear-l p{width:;font:16px/20px "";color:#ccc;}
.clear-l p span{margin-left:30px;}
.clear-l p a{margin-left:40px;color:#000;}
.clear-c{margin-left:134px;}
.clear-c span{display:block;width:90px;text-align:center;}

.clear-r{}
.clear-r{margin-left:120px;text-align:center;}


.sure input{float:left;}
.sure input.btn{margin:20px 0;margin-left:100px;background:red;width:140px;border:0;height:50px;border-radius:5px;}

.clear-l input{margin-top:28px;margin-left:95px;}
.clear-l p {margin:20px 10px; font:16px/28px "";color:#666;display:block;overflow:hidden;}
.clear-l p span{float:left;}
.clear-l p a{float:left;}
























#gray{overflow:hidden;margin-top:65px;background:#eee;width:100%;height:264px;}
#gray ul{margin:15px 0 0 20px;float:left;}
#gray ul.gray-l li{float:left;width:166px;margin-right:15px;}
#gray ul.gray-l li h3{width:166px;height:43px;}
#gray ul.gray-l li h3 a{font:700 18px/43px "";color:#333;display:block;}
#gray ul.gray-l li p{font:14px/26px "";color:#999;}
#gray .qr{float:left;margin-left:20px}
#gray .qr li{float:left;margin:20px 10px;}
#gray .qr li img{width:90px;height:90px;}
#gray .qr li h3{margin-top:12px;width:100%;text-align:center;}
#gray .kong{padding-top:40px}

#footer{text-align:center;color:#fff;width:1263px;height:184px;background:#000;}
#footer .footer1{overflow:hidden;margin:0 auto;width:666px;font:16px/41px "";color:#fff;}
#footer .footer1 li{float:left;margin:0 20px;}
#footer .footer1 li a{color:#fff;}
#footer .footer1 i{float:left;}
#footer .footer2{font:16px/22px "";margin-top:5px;}
#footer .footer2 a{color:#fff;}

#footer .footer3{font:16px/22px "";color:#fff;margin-top:5px;}
#footer .footer3 a.med{color:#fff;}
#footer .footer3 a.police{color:#fff;}

#footer .footer4{font:16px/22px "";color:#fff;margin-top:5px;}